*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1920px;
  min-width: 350px;
  margin: 0px auto;
  /* min-height: 100vh; */
  /* border: 1px solid grey; */
  box-shadow: 0px 0px 4px gray;
}
@media (max-width: 1720px) {
  .container {
    padding: 20px;
  }
}

.wrapp {
  max-width: 1738px;
  margin: 0 auto;
}

.index_link {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
}

.message,
.info {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
}

.info {
  color: green;
}

.title {
  margin-bottom: 4rem;
  color: rgb(52, 52, 52);
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.125rem;
}

.btn {
  width: 20rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: rgb(234, 182, 92);
  border-radius: 1.56rem;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.header_top {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0rem;
  background-color: rgb(253, 245, 223);
}
.header_top .social_wrapp {
  margin-left: 5.62rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.header_top__link {
  margin-left: 1.87rem;
  text-decoration: none;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.header_top__social_link {
  transform: translateY(-2px);
}
.header_top .header_phone {
  margin-right: 8.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.header_top .header_phone_link {
  text-decoration: none;
}
.header_top .header_phone_text {
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.header_top .header_phone_number {
  margin-left: 1.25rem;
  text-decoration: none;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.header_bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.header_bottom .header_navigate {
  margin-left: 3.75rem;
}
.header_bottom .header_navigate__list {
  display: flex;
  gap: 5.5rem;
}
.header_bottom .header_navigate__item {
  list-style: none;
}
.header_bottom .header_navigate__link {
  position: relative;
  text-decoration: none;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.header_bottom .header_navigate__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(234, 182, 92);
  bottom: -3px;
  left: 0px;
  opacity: 0;
  transition: 0.3s;
}
.header_bottom .header_navigate__link:hover::after {
  opacity: 1;
}
.header_bottom .hamb {
  display: none;
}
.header .popup {
  display: none;
}
@media (max-width: 1300px) {
  .header .header_top {
    flex-wrap: wrap;
    gap: 1.25rem;
    padding-left: 20px;
  }
  .header .social_wrapp {
    margin-left: 0rem;
    flex-wrap: wrap;
  }
  .header .header_phone {
    margin-right: 0rem;
    flex-wrap: wrap;
  }
  .header .header_navigate__list {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media (max-width: 1000px) {
  .header .header_bottom {
    position: relative;
    justify-content: space-between;
  }
  .header .header_navigate .header_navigate__list {
    flex-wrap: nowrap;
    display: none;
  }
  .header .hamb {
    display: flex;
    align-items: center;
  }
  .header .hamb__field {
    padding: 10px 20px;
    background-color: white;
  }
  .header .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: rgb(234, 182, 92);
    transition: 0.2s;
  }
  .header .popup {
    position: absolute;
    top: 95px;
    left: -100%;
    width: 100%;
    padding-top: 20px;
    background-color: #ffffff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .header .popup.open {
    left: 0;
  }
  .header .popup .header_navigate__list {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: auto;
  }
  .header .popup .menu > .header_navigate__item {
    width: 100%;
  }
  .header .popup .header_navigate__link {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(52, 52, 52);
  }
  .header .popup .header_navigate__link:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .header .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header body.noscroll {
    overflow: hidden;
  }
}
@media (max-width: 620px) {
  .header .logo__img {
    width: 200px;
  }
}

.top {
  display: flex;
  padding-top: 5.43rem;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.top__wrapp {
  max-width: 48rem;
  padding-top: 3.31rem;
}
.top__description {
  margin-bottom: 36px;
  color: rgb(52, 52, 52);
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}
.top__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__link {
  position: relative;
  text-decoration: none;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
}
.top__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  left: 0px;
  bottom: 0px;
  background-color: rgb(234, 182, 92);
}
.top__pic {
  display: block;
  margin-bottom: 1.625rem;
}
.top__image {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 1300px) {
  .top__nav {
    justify-content: space-around;
  }
}
@media (max-width: 1000px) {
  .top {
    flex-direction: column;
  }
  .top__pic {
    order: -1;
  }
  .top__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 620px) {
  .top {
    margin-bottom: 3rem;
  }
}

.about {
  display: flex;
  gap: 9.25rem;
  margin-bottom: 6rem;
}
.about__left_text {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.about_right {
  max-width: 42rem;
}
.about_right__header {
  margin-bottom: 2.3125rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.875rem;
}
.about_right__description {
  margin-bottom: 1.6875rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.about_right__list {
  margin-bottom: 7.5rem;
  list-style: none;
}
.about_right__list_item {
  margin-bottom: 1.125rem;
  padding-left: 2.5rem;
  position: relative;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1, 125rem;
  font-weight: 400;
  line-height: 2rem;
}
.about_right__list_item::before {
  content: url("../images/icons/marker-24.png");
  position: absolute;
  left: 0rem;
  top: 0.25rem;
}
.about_right__link {
  text-decoration: none;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.9rem;
}
@media (max-width: 1000px) {
  .about {
    gap: 2rem;
  }
}
@media (max-width: 620px) {
  .about {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .about_right__link {
    display: block;
    text-align: center;
  }
  .about_right__list {
    margin-bottom: 2.5rem;
  }
}

.about_detail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.87rem;
  margin-bottom: 3.75rem;
  padding: 1.25rem;
  background-color: rgb(253, 245, 223);
  border-radius: 0.5rem;
}

.about__title {
  margin-bottom: 2.31rem;
  padding-bottom: 1.25rem;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.87rem;
  border-bottom: 2px solid rgb(234, 182, 92);
}

.about_quote {
  margin: 1.87rem;
  text-align: right;
  color: rgb(52, 52, 52);
  font-family: "Times New Roman", Times, serif;
  font-size: 0.87rem;
  font-weight: 400;
  font-style: italic;
  /* border: 1px solid red; */
}

.abaut_detail__pic {
  display: block;
  max-width: 37.5rem;
  margin-bottom: 2.5rem;
}

.about_detail__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.about_detail__descript {
  padding: 20px;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.first {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.56rem;
  font-weight: 500;
}

.about_detail__text {
  margin-bottom: 1.25rem;
  text-indent: 1.87rem;
}

.about_detail__text > span {
  font-size: 1.125rem;
  color: rgb(11, 70, 126);
}

.my_help {
  margin-bottom: 6rem;
}
.my_help__title {
  margin-bottom: 4.43rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.87rem;
}
.my_help .card_wrapp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.625rem, 1fr));
  -moz-column-gap: 14.06rem;
       column-gap: 14.06rem;
  row-gap: 4.43rem;
  justify-content: center;
  margin-bottom: 4.43rem;
}
.my_help .card {
  position: relative;
  list-style: none;
}
.my_help .card__descrit {
  min-width: 25.625em;
  height: 4.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0.28rem;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  background: rgb(82, 94, 132);
  opacity: 0.78;
}
.my_help .card__text {
  max-width: 21.4375rem;
  color: rgb(253, 245, 223);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
}
.my_help__btn {
  margin: 0px auto;
}
@media (max-width: 1000px) {
  .my_help .card_wrapp {
    justify-items: center;
  }
  .my_help .card_image {
    width: 350px;
  }
  .my_help .card__descrit {
    min-width: 350px;
  }
  .my_help .card__text {
    text-align: center;
  }
}
@media (max-width: 620px) {
  .my_help {
    margin-bottom: 3rem;
  }
}

.all_help_title {
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.87rem;
  border-bottom: 2px solid rgb(234, 182, 92);
}

.all_help_card {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 1.87rem;
  list-style: none;
  background-color: rgb(253, 245, 223);
  border-radius: 1.56rem;
}

.all_help_card__descript {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.all_help_card__title {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.all_help_card__text {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.direct {
  margin-bottom: 6rem;
}
.direct__title {
  margin-bottom: 4.43rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.87rem;
}
.direct_card {
  margin-bottom: 4.06rem;
  padding: 0rem 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* border:1px solid brown; */
}
.direct_card__wrapp {
  max-width: 39.3rem;
  list-style: none;
}
.direct_card__number {
  margin-bottom: 1.25rem;
}
.direct_card__title {
  margin-bottom: 1.87rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.87rem;
}
.direct_card__description {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}
.direct_card__picture {
  display: block;
}
.direct_card__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1000px) {
  .direct {
    margin-bottom: 3rem;
  }
  .direct_card {
    flex-direction: column;
  }
  .direct_card__picture {
    order: -1;
  }
}
@media (max-width: 620px) {
  .direct_card {
    padding: 0rem;
  }
}

.price {
  margin-bottom: 6.25rem;
}
.price__title {
  margin-bottom: 71px;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.87rem;
}
.price_wrapp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.75rem;
}
.price_wrapp .price_card {
  width: 320px;
  height: 300px;
  padding: 1.25rem 0rem;
  padding-left: 1.87rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 1.5625rem;
  background-color: rgb(253, 245, 223);
}
.price_wrapp .price_card__description {
  margin-bottom: 1.25rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}
.price_wrapp .price_card__ammount {
  margin-bottom: 1.25rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}
.price_wrapp .price_card__btn {
  width: 10.625rem;
}
@media (max-width: 620px) {
  .price_wrapp {
    flex-direction: column;
    align-items: center;
  }
}

/* grid & subgrid */
.help {
  margin-bottom: 6.25rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 3.18rem;
  background-image: url("/dist/images/bg_form.png");
}
.help__title {
  margin-bottom: 2.5rem;
  color: rgb(255, 255, 255);
  font-family: "Montserrat-Semibold", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
}
.help__description {
  margin-bottom: 2.5rem;
  color: rgb(255, 255, 255);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}
.help .form {
  max-width: 37.5rem;
}
.help .form__input_text, .help .form__input_tel {
  margin-bottom: 1.25rem;
  padding: 0.625rem 1.87rem;
  color: rgb(65, 98, 136);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
  border-radius: 1.5625rem;
}
.help .form_wrapp {
  display: flex;
  gap: 1.87rem;
}
.help .form__btn {
  cursor: pointer;
}
.help .form__descript {
  max-width: 18.125rem;
  color: rgb(255, 255, 255);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.help .form__link {
  color: rgb(255, 255, 255);
}
@media (max-width: 620px) {
  .help {
    padding-left: 1rem;
    margin-bottom: 3rem;
  }
  .help .form_wrapp {
    flex-wrap: wrap;
  }
  .help .form_wrapp .form__btn {
    width: 280px;
  }
}

.online_help {
  margin-bottom: 2.5rem;
}

.reviews {
  margin-bottom: 3.75rem;
  padding-top: 3.75rem;
  padding-bottom: 5rem;
}

.reviews__title {
  margin-bottom: 2.87rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  text-align: center;
}

.reviews_wrapp {
  max-width: 65.625rem;
  margin: 0rem auto;
  margin-bottom: 3.125rem;
}

.reviews_card__block {
  width: 100%;
  display: flex;
  gap: 0.625rem;
  margin-bottom: 2rem;
}

.review_card {
  max-width: 21.875rem;
  min-height: 18.75rem;
  margin-left: 2px;
  padding: 1.25rem;
  list-style: none;
  border-radius: 1.5625rem;
  background-color: rgb(253, 245, 223);
}

.review_card__date {
  margin-bottom: 0.625rem;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.review_card__title {
  margin-bottom: 0.625rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.87rem;
}

.review_card__description {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.reviews__btn {
  margin: 0rem auto;
}

.all_reviews__title {
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.87rem;
  border-bottom: 2px solid rgb(234, 182, 92);
}

.all_reviews {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  align-items: flex-start;
  margin-bottom: 1.87rem;
}

.review_form {
  max-width: 37.5rem;
  min-width: 18.75rem;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.review_form__label {
  display: block;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}

.review_form__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.81rem;
  padding: 0.1875rem 0rem 0.25rem 0.625rem;
  border: 1px solid #cecece;
  background: rgb(253, 245, 223);
  border-radius: 8px;
}

.review_form__textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
  min-height: 150px;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  background: #f6f6f6;
  border: 1px solid #cecece;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 0.625rem;
}

.review_form__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.review_form__input::-moz-placeholder {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  opacity: 0.4;
}

.review_form__input::placeholder {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  opacity: 0.4;
}

.review_form__btn {
  cursor: pointer;
  border: 1px solid #cecece;
  background: rgb(234, 182, 92);
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.87rem;
  width: 7.5rem;
}

.review_form__btn:hover {
  box-shadow: inset 0px -20px 20px #ffffff;
}

.review_form__btn:active {
  margin-top: 1px;
  margin-bottom: -1px;
  zoom: 1;
}

.review_form__btn:focus {
  outline: none;
}

.all_reviews_cards_wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.87rem;
}

.all_reviews_card {
  max-width: 1000px;
  padding: 1.87rem 2.5rem;
  background-color: rgb(241, 234, 214);
  border-radius: 1.5625rem;
}

.all_reviews_card__date {
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.all_reviews_card__title {
  display: flex;
  gap: 0.625rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.87rem;
}

.all_reviews_card__descript {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.credo {
  max-height: 41.7rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(270deg, rgb(55, 63, 97), rgb(68, 79, 124) 50.09%, rgb(55, 63, 97) 99.586%);
}
.credo__pic {
  display: block;
}
.credo__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.credo_wrapp {
  margin-left: 9rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.credo_wrapp__description {
  padding: 0rem 3rem;
  color: rgb(255, 255, 255);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-weight: 500;
  line-height: 2.5rem;
}
.credo_wrapp__quote_bottom {
  align-self: flex-end;
}
@media (max-width: 1300px) {
  .credo .credo__pic {
    display: none;
  }
}
@media (max-width: 620px) {
  .credo {
    margin-bottom: 3rem;
  }
  .credo .credo_wrapp {
    margin-left: 0rem;
  }
  .credo .credo_wrapp__quote {
    display: none;
  }
}

.blogs {
  padding-top: 3.75rem;
  margin-bottom: 5rem;
}
.blogs__title {
  margin-bottom: 3.75rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.87rem;
}
.blogs_wrapp {
  display: flex;
  justify-content: center;
  gap: 6.25rem;
  margin-bottom: 4.375rem;
}
.blogs_wrapp .article {
  display: flex;
  justify-content: center;
  gap: 1.87rem;
  flex-grow: 1;
  background-color: rgb(253, 245, 223);
  border-radius: 1.5625rem;
}
.blogs_wrapp .article__pic {
  display: block;
}
.blogs_wrapp .article__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
}
.blogs_wrapp .article__wrapp {
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.blogs_wrapp .article__title {
  margin-bottom: 1.25rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.87rem;
}
.blogs_wrapp .article__description {
  margin-bottom: 1.25rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.blogs_wrapp .article__link {
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.blogs_wrapp .article__image_small {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 21.1875rem;
  border-top-left-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
}
.blogs_wrapp .article__date {
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}
.blogs_wrapp .article_big_wrapp {
  padding-left: 1.87rem;
}
.blogs_wrapp .blogs_card_wrapp {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media (min-width: 1300px) {
  .blogs_wrapp .article_big {
    display: flex;
    max-width: 37.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.25rem;
    padding-bottom: 3.75rem;
    background-color: rgb(253, 245, 223);
    border-radius: 1.5625rem;
  }
}
@media (max-width: 1300px) {
  .blogs_wrapp {
    flex-direction: column;
  }
  .blogs_wrapp .article_big {
    display: flex;
    justify-content: center;
    gap: 1.87rem;
    flex-grow: 1;
    background-color: rgb(253, 245, 223);
    border-radius: 1.5625rem;
  }
  .blogs_wrapp .article__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 21.1875rem;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1.5625rem;
  }
  .blogs_wrapp .article_big_wrapp {
    max-width: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0rem;
  }
}
@media (max-width: 1000px) {
  .blogs_wrapp .article, .blogs_wrapp .article_big {
    flex-direction: column;
    padding: 20px;
  }
  .blogs_wrapp .article__image, .blogs_wrapp .article__image_small {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1.5625rem;
  }
}
.blogs__btn {
  margin: 0rem auto;
  margin-bottom: 6rem;
}

.my_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_blog__title {
  width: 100%;
  align-self: flex-start;
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.87rem;
  border-bottom: 2px solid rgb(234, 182, 92);
}

.article_card {
  max-width: 75rem;
  min-height: 13.75rem;
  display: flex;
  gap: 3.125rem;
  margin-bottom: 30px;
  background-color: rgb(253, 245, 223);
  border-radius: 1.5625rem;
}

.article_card__pic {
  max-width: 23.125em;
  display: block;
}

.article_card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5625rem;
}

.article_card__wrapp {
  max-width: 375rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.article_card__date {
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.article_card__title {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.87rem;
}

.article_card__descript {
  margin-bottom: 0.625rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.article_card__descript_item {
  text-indent: 1.76rem;
}

.detail_card {
  max-width: 90%;
  min-height: 13.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.87rem;
  background-color: rgb(253, 245, 223);
  border-radius: 1.5625rem;
}

.detail_card__wrapp {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

.detail_card__pic {
  display: block;
}

.detail_card__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.detail_card__date {
  margin-bottom: 1.87rem;
  color: rgb(234, 182, 92);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.87rem;
}

.detail_card__descript {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  margin-bottom: 0.625rem;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  line-height: 1.87rem;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  background-color: rgb(253, 245, 223);
}
.footer_navigate__list {
  display: flex;
  gap: 5.3rem;
}
.footer_navigate__item {
  list-style: none;
}
.footer_navigate__link {
  position: relative;
  text-decoration: none;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.footer_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.87rem;
  padding: 1.31rem;
}
.footer_bottom__text {
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.footer_bottom__link {
  text-decoration: none;
  color: rgb(52, 52, 52);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.footer_phone {
  margin-right: 8.125rem;
  margin-bottom: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.footer_phone__number {
  text-decoration: none;
  color: rgb(52, 52, 52);
}
@media (max-width: 1300px) {
  .footer .footer_top {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-left: 10px;
    padding-bottom: 1rem;
  }
  .footer .footer_top .footer_logo {
    margin-bottom: 10px;
  }
  .footer .footer_top .footer_phone {
    margin-bottom: 1rem;
  }
}
@media (max-width: 1000px) {
  .footer .footer_navigate__list {
    flex-direction: column;
    gap: 20px;
  }
  .footer .footer_bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 620px) {
  .footer .footer_logo_img {
    width: 200px;
  }
}

.oferta {
  margin: 3rem 0rem;
}

.oferta__title {
  font-family: "Montserrat-SemiBold", sans-serif;
}

.oferta__date {
  margin: 0.5rem 0rem;
  font-family: "Montserrat-Regular", sans-serif;
}

.outer_list {
  list-style: none;
}
.outer_list li {
  margin: 0.5rem 0rem;
  font-family: "Montserrat-Regular", sans-serif;
}
.outer_list li span {
  font-family: "Montserrat-Medium", sans-serif;
}
.outer_list .inner_list .inner_list_item {
  margin-left: 2rem;
}/*# sourceMappingURL=main.css.map */