
// страница обо мне ===================

.about_detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.87rem;
    margin-bottom: 3.75rem;
    padding: 1.25rem;
    background-color: $lg-bg;
    border-radius: 0.5rem;
      
    &__pic {
      display: block;
      max-width: 37.5rem;
      margin-bottom: 2.5rem;
    }
    &__image {
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }
    &__descript {
      padding: 20px;
      color: $black-color;
      font-family: "Montserrat-Regular", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.87rem;
    }

    &__text {
      margin-bottom: 1.25rem;
      text-indent: 1.87rem;
      span{
        font-size: 1.125rem;
        color: rgb(11, 70, 126);
      }
    }
    &__text:first-of-type{
      font-family: "Montserrat-Medium", sans-serif;
      font-size: 1.56rem;
      font-weight: 500;
    }

  }
  
  .about_title {
    margin-bottom: 2.31rem;
    // padding-top: 2.5rem;
    padding-bottom: 1.25rem;
    color: $orange-color;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.87rem;
    // text-align: center;
    border-bottom: 2px solid $orange-color;
  }
  
  .about_quote {
    margin: 1.87rem;
    text-align: right;
    color: $black-color;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.87rem;
    font-weight: 400;
    font-style: italic;
    /* border: 1px solid red; */
  }
  
  @media (max-width:620px) {
    .about_detail{
      flex-direction: column;
    }
  }