
// index(section credo)

.credo {
    max-height: 41.7rem;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(
      270deg,
      rgb(55, 63, 97),
      rgb(68, 79, 124) 50.09%,
      rgb(55, 63, 97) 99.586%
    );

    &__pic {
      display: block;
    }
    
    &__image {
      width: 100%;
      object-fit: cover;
    }
    
    &_wrapp {
      margin-left: 9rem;
      // margin-left: 5rem;
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;


      &__description {
        padding: 0rem 3rem;
        color: rgb(255, 255, 255);
        font-family: "Montserrat-Medium", sans-serif;
        font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
        font-weight: 500;
        line-height: 2.5rem;
      }
      
      &__quote_bottom{
        align-self: flex-end;
      }
    }

    @media(max-width: 1300px) {
      .credo__pic{
        display: none;
      }
    }
    @media(max-width: 620px) {
      &{
        margin-bottom: 3rem;
      }
      .credo_wrapp{
        margin-left: 0rem;
        &__quote{
          display: none;
        }
      }
    }
  }
  
