
// index(footer)

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    background-color: $lg-bg;
  }
  
    .footer_navigate__item {
      list-style: none;
    }
    .footer_navigate__link {
      position: relative;
      text-decoration: none;
      color: $black-color;
      font-family: "Montserrat-Regular", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.25rem;
    }
  .footer_phone {
    margin-right: 8.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

.footer_social {
    margin-left: 0rem;
  }
  
  .footer_navigate__list {
    display: flex;
    gap: 5.3rem;
  }
  
  .footer_phone {
    margin-bottom: 2.75rem;
  }
  
  .footer_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.87rem;
    padding: 1.31rem;
  }
  
  .footer_bottom__text {
    color: $black-color;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19.1.25rem;
  }
  
  .footer_bottom__link {
    text-decoration: none;
    color: $black-color;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }